

.bg{
  background-color: #282c34;
  height: 110vh;
  margin-top:-1.3rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  fl
}

.banner{
  background-color: red;
 width: max-content;
 height: min-content;
 align-items: center;



}

